*{
    margin:0;
    padding:0;    
}


body{
    background-image: url(/Assets/img/Brick-wall.jpg); 
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    margin-top: 40px;

}

.registroformulario{
    font-family: sans-serif;
    width: 800px;
    margin: auto;
    color: rgb(209, 52, 104);
    padding: 10px 0px 10px 0px;
    text-align: center;
    text-shadow: 0 0 1em pink
}

